<h1><b>Contact Us</b></h1>

Please select a topic below to contact us. We will be in touch in 2-3 business days.
<br>
For immediate assistance, please consider visiting our Help Center.
<br>
Bloomberg Terminal Clients who need customer support should hit <Help> <Help>.
<br>
<br>
<br>
Topic <!--show rest of form for selection topic--> 
<select class="" name="">
  <option value="">Bloomberg News Subscription Inquiries</option>
    <div *ngIf="select1">
      <select class="" name="">
        <option value=""></option>
        <option value=""></option
        <option value=""></option>
      </select>
    </div>
  <option value="">Website Feedback</option>
    <div *ngIf="select2">
      <select class="" name="">
        <option value=""></option>
        <option value=""></option
        <option value=""></option>
      </select>
    </div>
</select>
