<select>
  <option value="allArticles">All News</option>
  <option value="recentArticles">Recent News</option>
  <option value="topArticles">Top News</option>
</select>

<ul>
  <li [class]="chooseArticle(currentArticle)" *ngFor="let currentArticle of childArticleShowall | completeness">{{currentArticle.name}} {{currentArticle.read}}
    <input *ngIf="currentArticle.done === true" type="checkbox" checked (click)="toggleDone(currentArticle, false)"/>
    <input *ngIf="currentArticle.done === false" type="checkbox" (click)="toggleDone(currentArticle, true)"/>
    <button (click)="editButtonClicked(currentArticle)">Choose Another Article</button>
  </li>
</ul>
