<!--
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-left">
     <div class="container">
       <a class="navbar-brand" href="index.html">Menu</a>
       <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item">-->
             <!--nav item 1-->
             <!--
             <a class="nav-link" href="home.html">Home</a>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Read
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRead">
                   <a class="dropdown-item" href="read-1-col.html">Wealth</a>
                   <a class="dropdown-item" href="read-2-col.html">Crypto</a>
                   <a class="dropdown-item" href="read-3-col.html">Hyperdrive</a>
                   <a class="dropdown-item" href="read-4-col.html">Climate Changed</a>
                   <a class="dropdown-item" href="read-5-col.html">Equality</a>
                   <a class="dropdown-item" href="read-6-col.html">Billionaires</a>
                   <a class="dropdown-item" href="read-7-col.html">Graphics</a>
                   <a class="dropdown-item" href="read-8-col.html">Sponsored Content</a>
                 </div>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWatch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Watch
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownWatch">
                   <a class="dropdown-item" href="watch-home-1.html">The David Rubenstein Show</a>
                   <a class="dropdown-item" href="watch-home-2.html">Brilliant Ideas</a>
                   <a class="dropdown-item" href="watch-post.html">Inspire GO</a>
                 </div>
               </li>
               <li class="nav-item active dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSR" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Special Reports
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSR">
                   <a class="dropdown-item" href="sr-1.html">Where to Invest $10,000</a>
                   <a class="dropdown-item active" href="sr-2.html">50 Companies to Watch in 2018</a>
                   <a class="dropdown-item" href="sr-3.html">What's Inside All the iPhones</a>
                 </div>
               </li>
             </li>
           -->
           <!--nav item 2-->
           <!--
           <li class="nav-item">
             <a class="nav-link" href="markets.html">Markets</a>
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Read
             </a>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRead">
               <a class="dropdown-item" href="read-1-col.html">Economics</a>
               <a class="dropdown-item" href="read-2-col.html">Deals</a>
               <a class="dropdown-item" href="read-3-col.html">Fixed Income</a>
               <a class="dropdown-item" href="read-4-col.html">ETFs</a>
               <a class="dropdown-item" href="read-5-col.html">Benchmark</a>
               <a class="dropdown-item" href="read-6-col.html">Markets Magazine</a>
             </div>
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWatch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Watch
             </a>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownWatch">
               <a class="dropdown-item" href="watch-home-1.html">Daybreak</a>
               <a class="dropdown-item" href="watch-home-2.html">Surveillance</a>
               <a class="dropdown-item" href="watch-post.html">Markets</a>
               <a class="dropdown-item" href="watch-post.html">What You Miss</a>
             </div>
           </li>
           <li class="nav-item active dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Follow
             </a>
             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownFollow">
               <a class="dropdown-item" href="follow-1.html">Twitter</a>
               <a class="dropdown-item active" href="follow-2.html">Facebook</a>
             </div>
           </li>
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownData" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Data
           </a>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownData">
             <a class="dropdown-item" href="data-1-col.html">Stocks</a>
             <a class="dropdown-item" href="data-2-col.html">Currencies</a>
             <a class="dropdown-item" href="data-3-col.html">Commodities</a>
             <a class="dropdown-item" href="data-4-col.html">Rates & Bonds</a>
             <a class="dropdown-item" href="data-5-col.html">Sectors</a>
             <a class="dropdown-item" href="data-6-col.html">Economic Calendar</a>
           </div>
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownListen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Listen
           </a>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownListen">
             <a class="dropdown-item" href="listen-1-col.html">Trillions</a>
             <a class="dropdown-item" href="listen-2-col.html">Odd Lots</a>
             <a class="dropdown-item" href="listen-3-col.html">Surveillance</a>
             <a class="dropdown-item" href="listen-4-col.html">Benchmark</a>
             <a class="dropdown-item" href="listen-5-col.html">P&L</a>
           </div>
         </li>
       -->
         <!--nav item 3 -->
         <!--
           <li class="nav-item">
             <a class="nav-link" href="technology.html">Technology</a>
              <li>
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Read
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRead">
                   <a class="dropdown-item" href="read-1-col.html">Cybersecurity</a>
                   <a class="dropdown-item" href="read-2-col.html">Startups</a>
                   <a class="dropdown-item" href="read-3-col.html">AI</a>
                   <a class="dropdown-item" href="read-4-col.html">Mobile</a>
                   <a class="dropdown-item" href="read-5-col.html">Big Data</a>
                   <a class="dropdown-item" href="read-6-col.html">Cloud Computing</a>
                   <a class="dropdown-item" href="read-5-col.html">U.S.</a>
                   <a class="dropdown-item" href="read-6-col.html">Global</a>
                 </div>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSR" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Special Reports
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSR">
                   <a class="dropdown-item" href="sr-home-1.html">The Elon Musk Tracker</a>
                   <a class="dropdown-item" href="sr-home-2.html">Tesla Model 3 Tracker</a>
                 </div>
               </li>
               <li class="nav-item active dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWatch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Watch
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownWatch">
                   <a class="dropdown-item" href="watch-1.html">Gadgets with Gurman</a>
                   <a class="dropdown-item active" href="watch-2.html">Digital Defense</a>
                   <a class="dropdown-item" href="watch-1.html">Bloomberg Technology TV</a>
                   <a class="dropdown-item active" href="watch-2.html">Studio 1.0</a>
                 </div>
               </li>
               <li>
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownListen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Listen
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownListen">
                   <a class="dropdown-item" href="listen-1-col.html">Decrypted</a>
                 </div>
               </li>
               <li>
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Follow
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownFollow">
                   <a class="dropdown-item" href="follow-1-col.html">Twitter</a>
                   <a class="dropdown-item" href="follow-2-col.html">Facebook</a>
                 </div>
               </li>
             </li>
           -->
             <!--nav item 4-->
             <!--
             <li class="nav-item">
               <a class="nav-link" href="politics.html">Politics</a>
                <li>
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Read
                   </a>
                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRead">
                     <a class="dropdown-item" href="read-1-col.html">Midterm Elections Preview</a>
                     <a class="dropdown-item" href="read-2-col.html">Trump Tracker</a>
                     <a class="dropdown-item" href="read-3-col.html">Brexit Coverage</a>
                     <a class="dropdown-item" href="read-4-col.html">Global Risk Briefing</a>
                     <a class="dropdown-item" href="read-5-col.html">2018 Pessimist's Guide</a>
                   </div>
                 </li>
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownListen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Listen
                   </a>
                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownListen">
                     <a class="dropdown-item" href="listen-home-1.html">Bloomberg Law</a>
                   </div>
                 </li>
                 <li class="nav-item active dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSubscribe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Subscribe
                   </a>
                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSubscribe">
                     <a class="dropdown-item" href="subscribe-1.html">Balance of Power</a>
                   </div>
                 </li>
                 <li>
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Follow
                   </a>
                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownFollow">
                     <a class="dropdown-item" href="follow-1-col.html">Twitter</a>
                     <a class="dropdown-item" href="follow-2-col.html">Facebook</a>
                   </div>
                 </li>
               </li>
             -->
             <!--nav item 5-->
             <!--
             <li class="nav-item">
               <a class="nav-link" href="pursuits.html">Pursuits</a>
                  <li>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Read
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRead">
                      <a class="dropdown-item" href="read-1-col.html">Travel</a>
                      <a class="dropdown-item" href="read-2-col.html">Autos</a>
                      <a class="dropdown-item" href="read-3-col.html">Homes</a>
                      <a class="dropdown-item" href="read-4-col.html">Living</a>
                      <a class="dropdown-item" href="read-5-col.html">Culture</a>
                      <a class="dropdown-item" href="read-5-col.html">Style</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSR" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Special Reports
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSR">
                      <a class="dropdown-item" href="sr-home-1.html">London Property Prices</a>
                      <a class="dropdown-item" href="sr-home-2.html">New York Property Prices</a>
                      <a class="dropdown-item" href="sr-home-1.html">How to Invest in Art</a>
                      <a class="dropdown-item" href="sr-home-2.html">How to Spend Your Bonus</a>
                    </div>
                  </li>
                  <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWatch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Watch
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownWatch">
                      <a class="dropdown-item" href="watch-1.html">Made</a>
                    </div>
                  </li>
                  <li>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Follow
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownFollow">
                      <a class="dropdown-item" href="follow-1-col.html">Twitter</a>
                      <a class="dropdown-item" href="follow-2-col.html">Facebook</a>
                      <a class="dropdown-item" href="follow-2-col.html">Instagram</a>
                    </div>
                  </li>
                </li>
              -->
             <!--nav item 6-->
             <!--
             <li class="nav-item">
               <a class="nav-link" href="opinion.html">Opinion</a>
                <li>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Read
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRead">
                      <a class="dropdown-item" href="read-1-col.html">Editorials</a>
                  </div>
                </li>
                <li>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Follow
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownFollow">
                    <a class="dropdown-item" href="follow-1-col.html">Twitter</a>
                    <a class="dropdown-item" href="follow-2-col.html">Facebook</a>
                  </div>
                </li>
                <li class="nav-item active dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownListen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Listen
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownListen">
                    <a class="dropdown-item" href="listen-width.html">Masters in Business</a>
                  </div>
                </li>
                <li class="nav-item active dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSubscribe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Subscribe
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSubscribe">
                    <a class="dropdown-item" href="subscribe-1.html">Bloomberg Opinion Today</a>
                    <a class="dropdown-item" href="subscribe-1.html">Money Stuff</a>
                    <a class="dropdown-item" href="subscribe-1.html">Ritholtz's Reads</a>
                    <a class="dropdown-item" href="subscribe-1.html">Early Returns</a>
                    <a class="dropdown-item" href="subscribe-1.html">Sparklines</a>
                  </div>
                </li>
              </li>
            -->
           <!--nav 7-->
           <!--
           <li class="nav-item">
             <a class="nav-link" href="businessweek.html">Businessweek</a>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Special Reports
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownRead">
                   <a class="dropdown-item" href="read-1-col.html">The Year Ahead:2018</a>
                   <a class="dropdown-item" href="read-2-col.html">The Bloomberg 50</a>
                 </div>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Watch
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownWatch">
                   <a class="dropdown-item" href="blog-home-1.html">Hello World</a>
                 </div>
               </li>
               <li class="nav-item active dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSubscribe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   The Magazine
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSubscribe">
                   <a class="dropdown-item" href="subscribe-1.html">Subscribe</a>
                 </div>
               </li>
               <li>
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Follow
                 </a>
                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownFollow">
                   <a class="dropdown-item" href="follow-1-col.html">Twitter</a>
                   <a class="dropdown-item" href="follow-2-col.html">Facebook</a>
                   <a class="dropdown-item" href="follow-2-col.html">Instagram</a>
                 </div>
               </li>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="video.html">Video</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="audio.html">Audio</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="newsletters.html">Newsletters</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="watchlist.html">Watchlist</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="subscribe.html">Subscribe</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="signin.html">Sign in</a>
           </li>
         </ul>
       </div>
     </div>
   </nav>
-->
